<div class="row">

  <div class="span12">

    <h4>Applications list</h4>

    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>ContextRoot</th>
        <th>Deployed on</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @applications.each do |app| %>
        <tr>
          <td><%= link_to app.name, app %></td>
          <td><%= app.context_root %></td>
          <td><%= app.servers.map(&:name).join(", ") %></td>
          <td>Status</td>
          <td><%= link_to 'Show', app %></td>
          <td><%= link_to 'Edit', edit_application_path(app) %></td>
          <td><%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>

    <br>

    <%= link_to 'New Application', new_application_path, class: 'btn btn-success' %>

  </div>
</div>