<%= form_for(@server) do |f| %>
  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% @server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>

    <legend><%= title %></legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => "input-xlarge" %>
        <p class="help-block">The name of the server.</p>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :ip, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :ip, :class => "input-xlarge" %>
        <p class="help-block">The name of the server.</p>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :remote_path, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :remote_path, :class => "input-xlarge" %>
        <p class="help-block">The remote path where file are uploaded.</p>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :description, :class => "input-xlarge" %>
        <p class="help-block">The description of the server.</p>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit :class => "btn btn-success" %>
      <%= link_to "Cancel", applications_path, :class => "btn btn-danger" %>
    </div>

  </fieldset>

<% end %>
