<div class="row">

  <div class="span12">
    <h1><%= @server.name %></h1>
    <small><%= @server.description %></small>
  </div>

</div>
<hr />

<div class="row">
  <div class="span12">
    <h4>Applications</h4>

    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>ContextRoot</th>
        <th>Status</th>
      </tr>

      <% @server.versions.each do |version| %>
        <tr>
          <td><%= version.application.name %></td>
          <td><%= version.application.context_root %></td>
          <td>Status</td>
          <!--
		  <td><%= link_to 'Show', app %></td>
          <td><%= link_to 'Edit', edit_application_path(app) %></td>
          <td><%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			-->
        </tr>
      <% end %>
    </table>

  </div>

</div>
