<%= form_for @release do |f| %>

  <% if @release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@release.errors.count, "error") %> prohibited this version from being saved:</h2>
      <ul>
      <% @release.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>

    <legend><%= title %></legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => "input-xlarge" %>
        <p class="help-block">The name of the version.</p>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :number, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :number, :class => "input-xlarge" %>
        <p class="help-block">The version number, ex: 0.2 or 1.3.2</p>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :changelog, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :changelog, :class => "input-xlarge" %>
        <p class="help-block">A description of the application.</p>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :deployable, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :deployable, :class => "input-xlarge" %>
        <p class="help-block">The WAR or EAR file to deploy.</p>
      </div>
    </div>

    <%= f.hidden_field :application_id, value: @release.application.id %>

    <div class="form-actions">
      <%= f.submit :class => "btn btn-success" %>
      <%= link_to "Cancel", application_path(@application), :class => "btn btn-danger" %>
    </div>

    </fieldset>

<% end %>
